@import url("https://queengarnet.com/fonts/austin-light-web.woff2");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Oswald:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
}

.cutoffText {
  --max-lines: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.recipytextCut {
  --max-lines: 7;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}


