@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
}

.cutoffText {
  --max-lines: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}


#wow{
  word-wrap: break-word;
  white-space: pre-wrap;
}